.DS_Store
__pycache__/
*.pyc
node_modules/
sources/oblig/audio/
sources/oblig/clips.json
sources/oblig/index.html
sources/oblig/preview.html
sources/oblig/*.png
sources/havea/audio/
sources/havea/clips.json
sources/havea/index.html
sources/havea/preview.html
sources/havea/*.png
