.DS_Store
__pycache__/
*.pyc
node_modules/
sources/oblig/audio/
sources/oblig/clips.json
sources/oblig/index.html
sources/oblig/preview.html
sources/oblig/*.png
sources/havea/audio/
sources/havea/clips.json
sources/havea/index.html
sources/havea/preview.html
sources/havea/*.png
sources/incr/audio/
sources/incr/clips.json
sources/incr/index.html
sources/incr/preview.html
sources/incr/*.png
sources/sounds/audio/
sources/sounds/clips.json
sources/sounds/index.html
sources/sounds/preview.html
sources/sounds/*.png
sources/nverb/audio/
sources/nverb/clips.json
sources/nverb/index.html
sources/nverb/preview.html
sources/nverb/*.png
sources/indq/audio/
sources/indq/clips.json
sources/indq/index.html
sources/indq/preview.html
sources/indq/*.png
